<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        Hello from Facelets szadafaka

        <h:form>                
            <h3>Dodaj książkę </h3>
            
            <h:panelGrid columns="3">
                
                <h:outputLabel for="Book">ISBN</h:outputLabel>
                <h:inputText value="#{bookManagedBean.bookDto.isbn}"></h:inputText>
                <br />
                <h:outputLabel for="Book">Release Date</h:outputLabel>
                <h:inputText value="#{bookManagedBean.bookDto.releaseDate}"></h:inputText>
                <br />
                <h:outputLabel for="Book">Title</h:outputLabel>
                <h:inputText value="#{bookManagedBean.bookDto.title}"></h:inputText>
                <br />
                <h:commandButton action="#{bookManagedBean.save()}" value="Dodaj"></h:commandButton>

            </h:panelGrid>
        </h:form>
    </h:body>
</html>

